.clicked-coord-label {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 260px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.clicked-coord-label p {
    color: steelblue;
    margin: 10px;
    text-align: left;
}

#colorRes1 {
    color: rgba(0, 0, 255, 0.3);
    font-weight: bold;
}

#colorRes2 {
    color: rgba(0, 100, 0, 0.3);
    font-weight: bold;
}

#colorRes3 {
    color: rgba(255, 132, 192, 0.5);
    font-weight: bold;
}

#contextmenu {
    display: none;
}

.show-contextmenu {
    flex-direction: column;
    border-radius: 5px;
    width: 260px;
    position: absolute;
    z-index: 1000;
    background: #fff;
    border: 1px solid steelblue;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}

.show-contextmenu p {
    font-style: normal;
    padding-top: 5px;
}

.show-contextmenu input,
.show-contextmenu p,
.show-contextmenu button {
    margin: 5px 10px;
}

.show-contextmenu div {
    display: flex;
    justify-content: space-between;
}

#closeContextmenu {
    background: #fff;
    border: none;
    color: steelblue;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}