.Menu {
    position: fixed;
    top: 0;
    margin-left: 35px;
    height: 100%;
    z-index: 10;
    display: flex;
    text-align: left;
    /* click through */
    pointer-events: none;
}

.Menu h1 {
    margin: 0;
    font-size: 18px;
}

.Menu h2 {
    font-size: 15px;
}

.sub-menu {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: steelblue;
    /* no click through */
    pointer-events: auto;
}

input[type="checkbox"] {
    cursor: pointer;
}

#grids {
    display: 'flex';
    flex-direction: 'column';
}

#gridLabel,
#pointsLabel,
#simpleGridLabel,
#squareGridLabel,
#hideLabel {
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 730px) {
    .Menu {
        margin-left: 35px;
        flex-direction: column;
        width: fit-content;
    }
}

.button {
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
    color: steelblue;
    font-size: 13px;
    border-radius: 5px;
}

.title {
    font-size: 12px;
    font-weight: bold;
    color: steelblue;
    font-style: italic;
}

#listPoints, #listPoints1, #listPoints2, #listResult {
    color: steelblue;
    font-size: 0.8em;
    font-style: italic;
    height: 20vh;
    overflow-y: auto;
    width: 323px;
    text-align: center;
}

#listPoints {
    max-height: 20vh;
}

#listPoints li, #listPoints1 li, #listPoints2 li, #listResult li {
    margin-left: -40px;
    padding: 5px;
    border: 1px solid steelblue;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    text-align: left;
}

#listPoints li:hover, #listPoints1 li:hover, #listPoints2 li:hover, #listResult li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sub-menu {
    overflow-y: auto;
}

#result {
    display: none;
}

#listPointsLi {
    display: flex;
}

#flagIcon {
    font-size: 25px;
}

#countryCode {
    text-align: center; 
    margin: 0;
}

#listPointsLi div {
    margin: auto 10px;
}

.tab{
    border-bottom: 1px solid steelblue;
    padding: 7px 10px;
    width: 100%;
    border-radius: 0;
    border: 0;
}

#tabs, #buttonsFilterValidateReset, #buttonsUnionIntersectExport {
    display: flex;
    justify-content: space-between;
}

#validateSelect, #cancelSelect, #filterSelect, #unionButton, #intersectButton, #exportButton {
    width: 100%;
}

#grids, #selection, #listsWithTabs {
    border-top: 3px solid steelblue;
    padding-bottom: 15px;
}

#listPoints2 {
    display: none;
}

#listsWithTabs {
    border-bottom: 3px solid steelblue;
}